/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/Harjoitustyo/Varasto/nbproject/private/
/Harjoitustyo/Varastopeloi/nbproject/private/
/Harjoitustyo/Varastopeli/nbproject/private/
/Harjoitustyo/Varastopeli/build/
/Harjoitustyo/ot-varastopeli/target/
/ot-varastopeli/target/